.home-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  padding: 0px 5px;
  align-items: center;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  position: relative;
}
